<div class="container black white-text">
  <section class="mt-5 py-5">
    <h1 class="h1-responsive text-center font-weight-bold">PROCESS BACKLOG</h1>
    <h2 class="h2-responsive font-weight-bolder text-center">S.A</h2>
  </section>

  <section>
    <h3 class="text-center">REACT COMPONENTS</h3>
  </section>
</div>