/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'mdb/vendor_mdb';

body{
  font-family: 'Mulish';
}

 .main-font {
   color: #cddc39 !important
 }

 .main-bg {
   background-color: #cddc39 !important;
 }

 .dark-bg {
   background-color: #27292d !important;
 }

 .darker-font {
   color: hsla(0,0%,100%,.65) !important;
 }

 .dark-font {
   color: rgba(0, 0, 0, 0.87) !important;
 }

 .lighter-font {
   color: hsla(0,0%,100%,.9) !important;
 }

 .dark-input{
   color: #afb8c1;
   background: #27292D;
   border: 1px solid #27292D;
 }

